Package: libffcall1
Source: ffcall
Version: 1.11-1
Architecture: armel
Maintainer: Hubert Chan <uhoreg@debian.org>
Installed-Size: 88
Depends: libc6 (>= 2.5.0-1)
Section: libs
Priority: optional
Description: Foreign Function Call Libraries
 This is a collection of four libraries which can be used to build
 foreign function call interfaces in embedded interpreters.
